[submodule "pos_retail"]
	path = pos_retail
	url = git@github.com:viernes/pos_retail.git
[submodule "vendor_bills"]
	path = vendor_bills
	url = git@github.com:William954/vendor_bills.git

[submodule "poliza_reports"]
	path = poliza_reports
	url = git@github.com:William954/poliza_reports.git
	branch = master
