[submodule "pos_retail"]
	path = pos_retail
	url = git@github.com:viernes/pos_retail.git
[submodule "vendor_bills"]
	path = vendor_bills
	url = git@github.com:William954/vendor_bills.git

[submodule "poliza_reports"]
	path = poliza_reports
	url = git@github.com:William954/poliza_reports.git
	branch = master
[submodule "xmarts_pos_retail"]
	path = xmarts_pos_retail
	url = https://github.com/xmarts/xmarts_pos_retail.git
[submodule "xmarts_pos_contador"]
	path = xmarts_pos_contador
	url = https://github.com/xmarts/xmarts_pos_contador.git
[submodule "xmarts_pos_formatos"]
	path = xmarts_pos_formatos
	url = https://github.com/xmarts/xmarts_pos_formatos.git
